@charset "UTF-8";

// Disclaimer popup
.cookie-overlay {
  @include margin(0);
  @include padding(100px);

  position: absolute;
  top: 110px;
  background: $su-color-white;
  z-index: 2051;
  min-height: fit-content;
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.5);

  > div:first-child {
    width: 100%;
  }

  &.d-none {
    display: none;
  }

  @include grid-media-max(md) {
    @include padding(50px);
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    background: $su-color-white;

    > div:first-child {
      width: auto;
    }
  }

  button {
    &:focus, 
    &:hover  {
      outline: 3px solid $su-color-black-20;
    }
  }
}

.d-background {
  opacity: 0.1;
  background-color: $su-color-black-10;

  a, 
  button {
    pointer-events: none;
    cursor: default;
  }
}

.role--authenticated {
  .cookie-overlay {
    top: 190px;
  }
}


